@use "../src/styles/variables" as variables;

.dropdown {
  position: relative;
  width: 200px;
  border: variables.$input-border;
  border-radius: 5px;

  &__selected {
    padding: 10px;
    cursor: pointer;
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: variables.$input-border;
    border-radius: 5px;
    background-color: variables.$color-light;
    z-index: 10;
  }

  &:hover &__options,
  &:focus &__options {
    display: block;
  }

  &__option {
    padding: 10px;
    cursor: pointer;
    transition: variables.$main-transition;

    &:hover,
    &.focused {
      background-color: variables.$color-light-hv;
      cursor: pointer;
    }
  }

  &__error {
    color: variables.$error-txt;
  }
}
