/* Styles constants: */

/* colors: */
$bg-color: #fa4251;
$color-light: #fff;
$btn-bg-color: #57b846;
$main-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
/* text sizes */

/* indentation */

/* animations */
