@use "../src/styles/variables" as variables;

.thumb {
  position: relative;
  margin-bottom: variables.$main-indent;
  color: variables.$main-txt-color;

  &__input_thumb {
    border-bottom: variables.$input-border;
  }

  &__input_thumb:focus,
  &__input_thumb:hover {
    border-bottom: variables.$input-border-focus;
  }

  &__input_label {
    font-weight: 700;
  }
}

.validation_error {
  font-size: variables.$main-txt-size;

  position: absolute;
  bottom: -20px;
  left: 0;

  color: variables.$error-txt;
}
