@use "../src/styles/variables" as variables;

.form {
  box-shadow: variables.$main-shadow;
  border-radius: 10px;
  width: 100%;
  min-height: 590px;
  overflow: hidden;
  background: variables.$color-light;
  display: flex;

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: variables.$title-size;
    margin-bottom: variables.$main-indent;
  }

  &__images {
    background-image: url("../../assets/images/bg-heading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 100%;
  }

  &__content {
    padding: 80px 90px;
    display: flex;
    flex-direction: column;
  }

  &__top_thumb {
    display: flex;
    justify-content: space-between;
    gap: variables.$main-indent;
  }

  &__bottom_thumb {
    display: flex;
    justify-content: space-between;
    gap: variables.$main-indent;
  }

  &__submit {
    margin-top: auto;
    border-radius: 3px;
    display: inline-block;
    padding: 0 25px;
    width: 100%;
    max-width: 120px;
    height: 40px;
    font-size: variables.$btn-txt-size;
    font-weight: 700;
    line-height: 40px;
    transition: variables.$main-transition;
    color: variables.$color-light;
    background: variables.$btn-bg-color;
    cursor: pointer;

    &:hover {
      background: variables.$btn-bg-color-hv;
    }
    &:disabled {
      background: variables.$btn-bg-color-disabled;
      cursor: not-allowed;
    }
  }

  &__error {
    font-size: variables.$main-txt-size;
    color: variables.$error-txt;
  }
}
